.header h1 {
  background: rgb(12, 53, 71);
  color: #fff;
  text-align: left;
  padding: 50px;
  padding-left: 180px;
  margin: 0px;
}

.header button {
  position: absolute;
  top: 40px;
  left: 750px;
  border: none;
  background: rgba(0, 190, 218, 0.75);
  color: #fff;
  width: 130px;
  height: 60px;
  font-size: large;
}
