.grid {
  position: absolute;
  top: 250px;
  left: 50%;
  margin-left: -625px;
  min-width: 1250px;
}

#navbar {
  background: rgb(12, 53, 71);
  padding: 3px;
}

.header h1 {
  color: #fff;
  text-align: left;
  padding: 10px;
  padding-left: 5%;
}

#viz-btn {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -80px;
  border: none;
  border-radius: 5px;
  background: rgba(0, 190, 218, 0.75);
  color: #fff;
  width: 130px;
  height: 60px;
  font-size: large;
}

#viz-btn:hover {
  background: rgba(45, 220, 247, 0.75);
}

#algo-select-label {
  position: absolute;
  top: 22px;
  left: 27.5%;
  color: #fff;
  font-size: large;
  padding: 0px 10px;
}

#algorithm-select {
  position: absolute;
  top: 55px;
  left: 28%;
  border-style: solid;
  background: rgb(12, 53, 71);
  color: #fff;
  font-size: large;
}

#algorithm-select:hover {
  color: rgb(120, 231, 248);
}

#clear-btn {
  position: absolute;
  top: 40px;
  right: 39%;
  border: none;
  background: rgb(12, 53, 71);
  color: #fff;
  font-size: large;
  padding: 0 10px;
}

#clear-btn:hover {
  color: rgb(120, 231, 248);
}

#instructions {
  position: absolute;
  padding: 10px 180px;
  text-align: left;
  font-size: large;
  min-width: 1000px;
}

#instr-btn {
  position: absolute;
  top: 40px;
  right: 25%;
  border: none;
  background: rgb(12, 53, 71);
  color: #fff;
  font-size: large;
  padding: 0 10px;
}

#instr-btn:hover {
  color: rgb(120, 231, 248);
}

#algo-desc {
  position: absolute;
  padding: 10px;
  top: 170px;
  left: 50%;
  text-align: center;
  font-size: large;
}

#dijkstra-desc {
  margin-left: -420px;
  display: block;
}

#dfs-desc {
  margin-left: -470px;
  display: none;
}

#bfs-desc {
  margin-left: -450px;
  display: none;
}

#greedy-bfs-desc {
  margin-left: -500px;
  display: none;
}

#a-star-desc {
  margin-left: -370px;
  display: none;
}
