#page {
  position: relative;
  min-width: 1440px;
}

#grid {
  position: absolute;
  top: 255px;
  left: 50%;
  margin-left: -630px;
}

#navbar {
  background: rgb(12, 53, 71);
  padding: 55px;
  min-width: 1440px;
  position: relative;
}

.header h1 {
  color: #fff;
  text-align: left;
  padding: 10px;
  padding-left: 3%;
  top: 6px;
  position: absolute;
}

#viz-btn {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -60px;
  border: none;
  border-radius: 5px;
  background: rgba(0, 190, 218, 0.75);
  color: #fff;
  width: 130px;
  height: 60px;
  font-size: large;
}

#viz-btn:hover {
  background: rgba(45, 220, 247, 0.75);
}

#algo-select-package {
  position: relative;
}

#algo-select-label {
  position: absolute;
  top: -28px;
  left: 28%;
  color: #fff;
  font-size: large;
}

#algorithm-select {
  position: absolute;
  top: 3px;
  left: 28%;
  border-style: solid;
  background: rgb(12, 53, 71);
  color: #fff;
  font-size: large;
}

#algorithm-select:hover {
  color: rgb(120, 231, 248);
}

#clear-btn {
  position: absolute;
  top: 40px;
  left: 57%;
  border: none;
  background: rgb(12, 53, 71);
  color: #fff;
  font-size: large;
  padding: 0 10px;
}

#clear-btn:hover {
  color: rgb(120, 231, 248);
}

#src-btn {
  position: absolute;
  top: 40px;
  left: 65%;
  border: none;
  background: rgb(12, 53, 71);
  color: #fff;
  font-size: large;
  padding: 0 10px;
}

#src-btn:hover {
  color: rgb(120, 231, 248);
}

#instructions {
  position: absolute;
  padding: 0px 130px;
  left: 50%;
  margin-left: 1%;
  transform: translate(-50%, 25%);
  text-align: left;
  font-size: large;
  min-width: 1300px;
}

#algo-desc {
  position: relative;
  text-align: center;
  font-size: large;
  padding: 10px;
  min-width: 1440px;
}

#dijkstra-desc {
  position: absolute;
  top: 70px;
  left: 50%;
  margin-left: -420px;
  display: block;
}

#dfs-desc {
  position: absolute;
  top: 70px;
  left: 50%;
  margin-left: -470px;
  display: none;
}

#bfs-desc {
  position: absolute;
  top: 70px;
  left: 50%;
  margin-left: -450px;
  display: none;
}

#greedy-bfs-desc {
  position: absolute;
  top: 70px;
  left: 50%;
  margin-left: -500px;
  display: none;
}

#a-star-desc {
  position: absolute;
  top: 70px;
  left: 50%;
  margin-left: -370px;
  display: none;
}
